/* Base2Tone-Motel Dark */
/* by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes) */
/* https://github.com/atelierbram/Base2Tone-highlight.js/ */

/* Base2Tone-Motel Comment */
.hljs-comment,
.hljs-quote {
  color: #766b6c;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #ffc8bd;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #f6684c;
}

.hljs-title,
.hljs-section {
  color: #674c50;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #fbf9f9;
}

.hljs-selector-pseudo {
  color: #f8917c;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #242323;
  color: #766b6c;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

