/* Base2Tone-Morning Light */
/* by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes) */
/* https://github.com/atelierbram./Base2Tone-highlight.js/ */

/* Base2Tone-Morning Comment */
.hljs-comment,
.hljs-quote {
  color: #b6ad9a;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #2d2006;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #063289;
}

.hljs-attribute,
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #b29762;
}

.hljs-variable,
.hljs-template-variable {
  color: #896724;
}

.hljs-title,
.hljs-section {
  color: #063289;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #faf8f5;
  color: #594212;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

