/* Base2Tone-Field Dark */
/* by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes) */
/* https://github.com/atelierbram/Base2Tone-highlight.js/ */

/* Base2Tone-Field Comment */
.hljs-comment,
.hljs-quote {
  color: #5a6d6a;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #85ffb8;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #15c15d;
}

.hljs-title,
.hljs-section {
  color: #037764;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #f9fbfa;
}

.hljs-selector-pseudo {
  color: #3be381;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #18201e;
  color: #5a6d6a;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

