/* Base2Tone-Drawbridge Dark */
/* by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes) */
/* https://github.com/atelierbram/Base2Tone-highlight.js/ */

/* Base2Tone-Drawbridge Comment */
.hljs-comment,
.hljs-quote {
  color: #51587b;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #99e9ff;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #4db0cb;
}

.hljs-title,
.hljs-section {
  color: #4961da;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #f9fbfb;
}

.hljs-selector-pseudo {
  color: #67c9e4;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #1b1f32;
  color: #51587b;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

