/* Base2Tone-Earth Light */
/* by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes) */
/* https://github.com/atelierbram./Base2Tone-highlight.js/ */

/* Base2Tone-Earth Comment */
.hljs-comment,
.hljs-quote {
  color: #bbb4a5;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #9c8349;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #6f5849;
}

.hljs-attribute,
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #d9b154;
}

.hljs-variable,
.hljs-template-variable {
  color: #bfa05a;
}

.hljs-title,
.hljs-section {
  color: #6f5849;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #f2efe8;
  color: #b3944d;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

